.container{
    display: block;
    height: 100%;
}

.flex-row div{
    display: block;
}

.flex-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-row #content{
    flex-shrink: 400px;
    padding: 1rem;
}